<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DefinitionComposer.ComposerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DefinitionComposer.ComposerSettings>
      <setting name="OwnerId" serializeAs="String">
        <value />
      </setting>
      <setting name="DefinitionUnderTestPath" serializeAs="String">
        <value />
      </setting>
    </DefinitionComposer.ComposerSettings>
  </userSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<!-- Define target -->
		<targets>
			<target xsi:type="File" name="logfile" fileName="C:\temp\DefinitionComposer.log" layout="${longdate} | ${level:uppercase=true} | ${message} | ${exception}" deleteOldFileOnStartup="true" />
		</targets>

		<!-- Define rules -->
		<rules>
			<logger name="Scopos.*" minlevel="Info" writeTo="logfile" />
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>
	</nlog>
</configuration>